@charset "UTF-8";
/**
 *
 * @authors Rehack (rehack6@gmail.com)
 * @link    http://www.rehack.cn
 * @date    2017-08-02 14:49:07
 * @version $Id$
 */
/*
常用css3动画库
 */

 /*360度旋转*/
@keyframes deg-360{
    from{transform:rotate(0deg)}
    to{transform:rotate(360deg)}
}

/*上下跳动--可以作为地图标注、提示框等*/
@keyframes bob{
    0%, 100% {
        transform: translateY(0);
    }
    10% {
        transform: translateY(8px);
    }
    20% {
        transform: translateY(-8px);
    }
    30% {
        transform: translateY(4px);
    }
    40% {
        transform: translateY(-4px);
    }
    50% {
        transform: translateY(0);
    }
}

/*闪烁点动画 呼吸灯*/
@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    30% {
        transform: scale(1);
    }
    40% {
        transform: scale(1.08);
    }
    50% {
        transform: scale(1);
    }
    60% {
        transform: scale(1);
    }
    70% {
        transform: scale(1.05);
    }
    80% {
        transform: scale(1);
    }
    100% {
        transform: scale(1);
    }
}

/*呼吸灯1*/
@keyframes breath1{
    form{transform:scale(0.0);}
    to{transform:scale(1.0);opacity:0;}
}
/*呼吸灯2*/
@keyframes breath2{
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.5);
    }
    100%{
        transform: scale(1);
    }
}

